 
    <div class="card-container" style="margin: 70px;">
      <h1>Add candidate profile</h1>
      <mat-divider></mat-divider>
    
    <form [formGroup] ="candidateForm" (ngSubmit)="onSubmit()" class="form-grid-container"> 
        
      <!-- Candidate Name -->
      <div class="card-small form-item"> 
        <label for="name" class="label">Candidate Name:</label>   
        <input type="text" class="input" id="name" formControlName="candidateName"/>   
      </div>
      <!-- Photo -->
      <div class="card-small form-item">
        <label for="photo">Candidate Photo:</label> 
        <input type="file" id="photo"  formControlName="candidatePhotoPath" /> 
      </div> 
      <!-- Location -->
      <div class="card-small form-item">
        <label for="location" class="label">Location:</label>  
        <input type="text" class="input" id="location" placeholder="enter location" formControlName="location" />  
      </div>
      <!-- Skills --> 
      <div class="card-small form-item">
        <label for="skills" class="label">Skills:</label>
      <mat-form-field>
         <mat-select
          formControlName="skills"
          multiple>  
          <mat-option *ngFor="let skill of skillList" [value]="skill.skillId">
            {{ skill.skillName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <!-- Experience -->
      <div class="card-small form-item">
        <label for="experience" class="label">Experience (Years):</label> 
        <input type="number" class="numeric"  id="experience" formControlName="experience" class="numeric"/> 
      </div>
      <!-- Summary -->
      <div class="card-small form-item">
        <label for="summary" class="label">Summary:</label> 
        <textarea matInput id="summary" formControlName="summary" aria-multiline="true"  draggable="false"></textarea> 
      </div> 
     
        <button  mat-raised-button type="submit" [disabled]="candidateForm.invalid" >Submit</button>

    </form>
 
  </div>
  {{candidateForm.value | json}}